<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new post</title>
</head>
<body>
  <form method="POST" action="/posts">
    <input type="text" name="username", placeholder="Enter username" /> <br /><br />
    <textarea name="content" placeholder="Write post"></textarea> <br /><br />
    <button type="submit">Add</button>
  </form>
</body>
</html>